In [3]:
#stack function is important to rearrange
import pandas as pd
from pandas_datareader import data
companies = ["MSFT", "GOOG", "AAPL", "Y", "AMZN"]
mask = data.DataReader(name = companies, data_source = "yahoo", start = "2010-01-01", end = "2016-12-31").stack()
newmask = mask.to_panel()
newmask

C:\Users\Maxwell\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1762 (major_axis) x 5 (minor_axis)
Items axis: High to Adj Close
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to Y

In [4]:
newmask.items

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object', name='Attributes')

In [5]:
newmask.minor_axis

Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'Y'], dtype='object', name='Symbols')

In [6]:
newmask.major_axis

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
               '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
               '2016-12-29', '2016-12-30'],
              dtype='datetime64[ns]', name='Date', length=1762, freq=None)

In [7]:
#this will return  an array of the axis that makes up the panel 
newmask.axes

[Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object', name='Attributes'),
 DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
                '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
                '2016-12-29', '2016-12-30'],
               dtype='datetime64[ns]', name='Date', length=1762, freq=None),
 Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'Y'], dtype='object', name='Symbols')]

In [12]:
#this gives us a tupple that gives us the measurements of the panel
newmask.ndim

3

In [9]:
mask.dtypes

Attributes
High         float64
Low          float64
Open         float64
Close        float64
Volume       float64
Adj Close    float64
dtype: object

In [13]:
#this gives us a tupple that gives us the measurements of the panel
newmask.shape

(6, 1762, 5)

In [11]:
#totall amount odf datas on the panel
mask.size

52860

In [14]:
#this returns a nested array
mask.values

array([[3.06428566e+01, 3.03400002e+01, 3.04899998e+01, 3.05728569e+01,
        1.23432400e+08, 2.67827110e+01],
       [1.36610001e+02, 1.33139999e+02, 1.36250000e+02, 1.33899994e+02,
        7.59990000e+06, 1.33899994e+02],
       [3.13579620e+02, 3.10954468e+02, 3.12304413e+02, 3.12204773e+02,
        3.92700000e+06, 3.12204773e+02],
       ...,
       [7.82780029e+02, 7.70409973e+02, 7.82750000e+02, 7.71820007e+02,
        1.77000000e+06, 7.71820007e+02],
       [6.29900017e+01, 6.20299988e+01, 6.29599991e+01, 6.21399994e+01,
        2.55799000e+07, 5.92749748e+01],
       [6.13419983e+02, 6.06150024e+02, 6.11989990e+02, 6.08119995e+02,
        2.82000000e+04, 5.97879883e+02]])

# Using bracket notation for extraction of data

In [15]:
newmask

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1762 (major_axis) x 5 (minor_axis)
Items axis: High to Adj Close
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to Y

In [16]:
newmask.minor_axis

Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'Y'], dtype='object', name='Symbols')

In [20]:
newmask["Volume"].head(5)

Symbols            AAPL        AMZN        GOOG        MSFT        Y
Date
2010-01-04  123432400.0   7599900.0   3927000.0  38409100.0  14600.0
2010-01-05  150476200.0   8851900.0   6031900.0  49749600.0   9600.0
2010-01-06  138040000.0   7178800.0   7987100.0  58182400.0  18100.0
2010-01-07  119282800.0  11030200.0  12876600.0  50559700.0   9300.0
2010-01-08  111902700.0   9830500.0   9483900.0  51197400.0   4200.0

In [24]:
newmask.Open.head(5)

Symbols          AAPL        AMZN        GOOG       MSFT           Y
Date
2010-01-04  30.490000  136.250000  312.304413  30.620001  266.512878
2010-01-05  30.657143  133.429993  312.418976  30.850000  265.138397
2010-01-06  30.625713  134.600006  311.761444  30.879999  261.956940
2010-01-07  30.250000  132.009995  303.562164  30.629999  261.918488
2010-01-08  30.042856  130.559998  294.894653  30.280001  260.476746

# Extracting with the .loc[], .iloc[], and .ix[] Methods

In [21]:
import pandas as pd
from pandas_datareader import data
companies = ["MSFT", "GOOG", "AAPL", "Y", "AMZN"]
mask = data.DataReader(name = companies, data_source = "yahoo", start = "2010-01-01", end = "2016-12-31").stack()
newmask = mask.to_panel()
newmask

C:\Users\Maxwell\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  """

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1762 (major_axis) x 5 (minor_axis)
Items axis: High to Adj Close
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to Y

In [25]:
newmask.items

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object', name='Attributes')

In [33]:
newmask.loc["Close"]

Symbols           AAPL        AMZN        GOOG       MSFT           Y
Date
2010-01-04   30.572857  133.899994  312.204773  30.950001  263.408295
2010-01-05   30.625713  134.690002  310.829926  30.959999  263.312195
2010-01-06   30.138571  132.250000  302.994293  30.770000  263.398682
2010-01-07   30.082857  130.000000  295.940735  30.450001  261.418671
2010-01-08   30.282858  133.520004  299.885956  30.660000  259.928864
2010-01-11   30.015715  130.309998  299.432648  30.270000  261.745483
2010-01-12   29.674286  127.349998  294.137512  30.070000  258.842743
2010-01-13   30.092857  129.110001  292.448822  30.350000  261.860809
2010-01-14   29.918571  127.349998  293.823669  30.959999  260.428680
2010-01-15   29.418571  127.139999  288.917053  30.860001  257.593231
2010-01-19   30.719999  127.610001  292.712830  31.100000  259.900024
2010-01-20   30.247143  125.779999  289.121307  30.590000  257.352936
2010-01-21   29.724285  126.620003  290.401489  30.010000  255.190308
2010-01-22   28.250000  121.430000  273.978058  28.959999  254.825073
2010-01-25   29.010000  120.309998  268.991760  29.320000  258.294891
2010-01-26   29.420000  119.480003  270.197235  29.500000  258.189148
2010-01-27   29.697144  122.750000  270.037842  29.670000  260.717041
2010-01-28   28.469999  126.029999  266.147400  29.160000  254.738556
2010-01-29   27.437143  125.410004  263.980530  28.180000  250.970779
2010-02-01   27.818571  118.870003  265.514771  28.410000  253.911957
2010-02-02   27.980000  118.120003  264.568329  28.459999  254.133026
2010-02-03   28.461428  119.099998  269.400208  28.629999  252.345245
2010-02-04   27.435715  115.940002  262.406433  27.840000  249.423294
2010-02-05   27.922857  117.389999  264.653015  28.020000  250.384460
2010-02-08   27.731428  116.830002  265.738953  27.719999  248.750473
2010-02-09   28.027143  118.029999  267.218414  28.010000  250.384460
2010-02-10   27.874287  117.360001  266.227112  27.990000  248.942719
2010-02-11   28.381428  120.089996  267.198486  28.120001  251.633987
2010-02-12   28.625713  119.660004  265.564606  27.930000  253.133408
2010-02-16   29.057142  117.529999  269.639313  28.350000  256.843536
...                ...         ...         ...        ...         ...
2016-11-17  109.949997  756.400024  771.229980  60.639999  567.510010
2016-11-18  110.059998  760.159973  760.539978  60.349998  566.390015
2016-11-21  111.730003  780.000000  769.200012  60.860001  566.020020
2016-11-22  111.800003  785.330017  768.270020  61.119999  565.109985
2016-11-23  111.230003  780.119995  760.989990  60.400002  574.710022
2016-11-25  111.790001  780.369995  761.679993  60.529999  576.729980
2016-11-28  111.570000  766.770020  768.239990  60.610001  570.419983
2016-11-29  111.459999  762.520020  770.840027  61.090000  568.900024
2016-11-30  110.519997  750.570007  758.039978  60.259998  567.950012
2016-12-01  109.489998  743.650024  747.919983  59.200001  568.940002
2016-12-02  109.900002  740.340027  750.500000  59.250000  576.570007
2016-12-05  109.110001  759.359985  762.520020  60.220001  577.280029
2016-12-06  109.949997  764.719971  759.109985  59.950001  581.890015
2016-12-07  111.029999  770.419983  771.190002  61.369999  590.479980
2016-12-08  112.120003  767.330017  776.419983  61.009998  599.190002
2016-12-09  113.949997  768.659973  789.289978  61.970001  601.030029
2016-12-12  113.300003  760.119995  789.270020  62.169998  606.299988
2016-12-13  115.190002  774.340027  796.099976  62.980000  608.000000
2016-12-14  115.190002  768.820007  797.070007  62.680000  603.530029
2016-12-15  115.820000  761.000000  797.849976  62.580002  598.859985
2016-12-16  115.970001  757.770020  790.799988  62.299999  602.520020
2016-12-19  116.639999  766.000000  794.200012  63.619999  613.309998
2016-12-20  116.949997  771.219971  796.419983  63.540001  611.150024
2016-12-21  117.059998  770.599976  794.559998  63.540001  616.130005
2016-12-22  116.290001  766.340027  791.260010  63.549999  612.210022
2016-12-23  116.519997  760.590027  789.909973  63.240002  613.739990
2016-12-27  117.260002  771.400024  791.549988  63.279999  611.869995
2016-12-28  116.760002  772.130005  785.049988  62.990002  605.429993
2016-12-29  116.730003  765.150024  782.789978  62.900002  609.190002
2016-12-30  115.820000  749.869995  771.820007  62.139999  608.119995

[1762 rows x 5 columns]

In [34]:
newmask.loc["Close", "2014-04-08"]

Symbols
AAPL     74.777145
AMZN    327.070007
GOOG    553.380676
MSFT     39.820000
Y       405.609985
Name: 2014-04-08 00:00:00, dtype: float64

In [35]:
#in order to extact record for google on that date we need a 3D array object
newmask.loc["Close", "2014-04-08", "GOOG"]

553.3806762695312

In [36]:
newmask.loc["Low", "2014-04-08", "GOOG"]

540.1270751953125

In [37]:
#Note that everything here has to do with index position
#iloc always takes the index position
#['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close']
#[0, 1, 2, 3, 4, 5] respectivelively
#selecting 3 will gv me data for the close after comma next argument will be for row label which is date
#and then column fo the name of the comapny we want to extract
newmask.iloc[3, 200]

Symbols
AAPL     44.212856
AMZN    158.669998
GOOG    302.780121
MSFT     25.100000
Y       289.578430
Name: 2010-10-19 00:00:00, dtype: float64

In [38]:
#and then column fo the name of the comapny we want to extract
newmask.iloc[3, 200, 0]

44.21285629272461

In [39]:
#with ix we can call either index label or index position
newmask.ix["High", 500, "Y"]

C:\Users\Maxwell\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

287.75

# Convert Panel to a MultiIndex DataFrame (and Vice Versa)

In [40]:
import pandas as pd
from pandas_datareader import data
companies = ["MSFT", "GOOG", "AAPL", "Y", "AMZN"]
mask = data.DataReader(name = companies, data_source = "yahoo", start = "2010-01-01", end = "2016-12-31").stack()
newmask = mask.to_panel()
newmask

C:\Users\Maxwell\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  """

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1762 (major_axis) x 5 (minor_axis)
Items axis: High to Adj Close
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to Y

In [42]:
#This automatically convert a panelto a multiIndex dataframe
df = newmask.to_frame()
df.head(5)

Attributes                High         Low        Open       Close  \
Date       Symbols
2010-01-04 AAPL      30.642857   30.340000   30.490000   30.572857
           AMZN     136.610001  133.139999  136.250000  133.899994
           GOOG     313.579620  310.954468  312.304413  312.204773
           MSFT      31.100000   30.590000   30.620001   30.950001
           Y        266.512878  261.178406  266.512878  263.408295

Attributes               Volume   Adj Close
Date       Symbols
2010-01-04 AAPL     123432400.0   26.782711
           AMZN       7599900.0  133.899994
           GOOG       3927000.0  312.204773
           MSFT      38409100.0   24.525019
           Y            14600.0  258.972778

In [44]:
p2 = df.to_panel()
p2

C:\Users\Maxwell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  """Entry point for launching an IPython kernel.

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1762 (major_axis) x 5 (minor_axis)
Items axis: High to Adj Close
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to Y

# The .major_xs and .minor_xs

In [45]:
import pandas as pd
from pandas_datareader import data
companies = ["MSFT", "GOOG", "AAPL", "Y", "AMZN"]
mask = data.DataReader(name = companies, data_source = "yahoo", start = "2010-01-01", end = "2016-12-31").stack()
newmask = mask.to_panel()
newmask

C:\Users\Maxwell\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  """

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1762 (major_axis) x 5 (minor_axis)
Items axis: High to Adj Close
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to Y

In [46]:
newmask.major_axis

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
               '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
               '2016-12-29', '2016-12-30'],
              dtype='datetime64[ns]', name='Date', length=1762, freq=None)

In [47]:
#this allows us to provide a key with valid values and then pick a value above from the major axis
#this will return a proper dataframe
newmask.major_xs("2010-01-04")

Attributes,High,Low,Open,Close,Volume,Adj Close
Symbols,,,,,,
AAPL,30.642857,30.340000,30.490000,30.572857,123432400.0,26.782711
AMZN,136.610001,133.139999,136.250000,133.899994,7599900.0,133.899994
GOOG,313.579620,310.954468,312.304413,312.204773,3927000.0,312.204773
MSFT,31.100000,30.590000,30.620001,30.950001,38409100.0,24.525019
Y,266.512878,261.178406,266.512878,263.408295,14600.0,258.972778

In [48]:
newmask.minor_axis

Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'Y'], dtype='object', name='Symbols')

In [50]:
minor = newmask.minor_xs("AMZN")
minor.head(5)

Attributes,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-01-04,136.610001,133.139999,136.250000,133.899994,7599900.0,133.899994
2010-01-05,135.479996,131.809998,133.429993,134.690002,8851900.0,134.690002
2010-01-06,134.729996,131.649994,134.600006,132.250000,7178800.0,132.250000
2010-01-07,132.320007,128.800003,132.009995,130.000000,11030200.0,130.000000
2010-01-08,133.679993,129.029999,130.559998,133.520004,9830500.0,133.520004

# Transpose a panel with the .transpose() Method

In [51]:
import pandas as pd
from pandas_datareader import data
companies = ["MSFT", "GOOG", "AAPL", "Y", "AMZN"]
mask = data.DataReader(name = companies, data_source = "yahoo", start = "2010-01-01", end = "2016-12-31").stack()
newmask = mask.to_panel()
newmask

C:\Users\Maxwell\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  """

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1762 (major_axis) x 5 (minor_axis)
Items axis: High to Adj Close
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to Y

In [52]:
#reordering into index, major, minor into a new panel in line with their index position
newmask.axes

[Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object', name='Attributes'),
 DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
                '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
                '2016-12-29', '2016-12-30'],
               dtype='datetime64[ns]', name='Date', length=1762, freq=None),
 Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'Y'], dtype='object', name='Symbols')]

In [56]:
trans = newmask.transpose(2, 1, 0)
trans

C:\Users\Maxwell\Anaconda3\lib\site-packages\pandas\core\panel.py:1255: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  return super(Panel, self).transpose(*axes, **kwargs)

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1762 (major_axis) x 6 (minor_axis)
Items axis: AAPL to Y
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: High to Adj Close

In [58]:
tr_new = trans.major_xs("2010-01-04")
tr_new.head(5)

Symbols,AAPL,AMZN,GOOG,MSFT,Y
Attributes,,,,,
High,3.064286e+01,1.366100e+02,3.135796e+02,3.110000e+01,266.512878
Low,3.034000e+01,1.331400e+02,3.109545e+02,3.059000e+01,261.178406
Open,3.049000e+01,1.362500e+02,3.123044e+02,3.062000e+01,266.512878
Close,3.057286e+01,1.339000e+02,3.122048e+02,3.095000e+01,263.408295
Volume,1.234324e+08,7.599900e+06,3.927000e+06,3.840910e+07,14600.000000

In [55]:
newmask

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1762 (major_axis) x 5 (minor_axis)
Items axis: High to Adj Close
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to Y

# swap axes method

In [59]:
import pandas as pd
from pandas_datareader import data
companies = ["MSFT", "GOOG", "AAPL", "Y", "AMZN"]
mask = data.DataReader(name = companies, data_source = "yahoo", start = "2010-01-01", end = "2016-12-31").stack()
newmask = mask.to_panel()
newmask

C:\Users\Maxwell\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  """

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1762 (major_axis) x 5 (minor_axis)
Items axis: High to Adj Close
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to Y

In [61]:
#with swapaxes we are only calling the name of the access and the access we want to swap with
last = newmask.swapaxes("items", "minor")
last

C:\Users\Maxwell\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1762 (major_axis) x 6 (minor_axis)
Items axis: AAPL to Y
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: High to Adj Close

In [62]:
last.axes

[Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'Y'], dtype='object', name='Symbols'),
 DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
                '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
                '2016-12-29', '2016-12-30'],
               dtype='datetime64[ns]', name='Date', length=1762, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object', name='Attributes')]