In [51]:
import pandas as pd
from pandas_datareader import data
import pandas_datareader.data as web
import datetime as dt

In [87]:
companies = ["MSFT", "GOOG", "AAPL", "Y", "AMZN"]
mask = pd.Panel(dict((stock, web.get_data_yahoo(stock, start = "2010-01-01", end = "2016-12-31")) 
                      for stock in companies))
mask


# companies = ["MSFT", "GOOG", "AAPL", "Y", "AMZN"]
# mask = web.get_data_yahoo(name = companies, data_source = "yahoo", start = "2010-01-01", end = "2016-12-31")
# mask


# new = mask.to_xarray()
# mask.set_index(["2010-01-01", "2016-12-31"]).to_panel()
# mask.to_csv("financial")
# mask.to_panel()
# mask.set_index(["MSFT", "GOOG"]).to_panel()

C:\Users\Maxwell\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2963: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1762 (major_axis) x 6 (minor_axis)
Items axis: MSFT to AMZN
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: High to Adj Close

In [90]:
mask.items

Index(['MSFT', 'GOOG', 'AAPL', 'Y', 'AMZN'], dtype='object')

In [95]:
mask.major_axis

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
               '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
               '2016-12-29', '2016-12-30'],
              dtype='datetime64[ns]', name='Date', length=1762, freq=None)

In [96]:
#column is the minor axis
mask.minor_axis

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [97]:
#this will return  an array of the ais that makes up the panel 
mask.axes

[Index(['MSFT', 'GOOG', 'AAPL', 'Y', 'AMZN'], dtype='object'),
 DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
                '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
                '2016-12-29', '2016-12-30'],
               dtype='datetime64[ns]', name='Date', length=1762, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

In [67]:
mask.to_frame().head(5)

                           MSFT          GOOG          AAPL             Y  \
Date       minor
2010-01-04 High    3.110000e+01  3.135796e+02  3.064286e+01    266.512878
           Low     3.059000e+01  3.109545e+02  3.034000e+01    261.178406
           Open    3.062000e+01  3.123044e+02  3.049000e+01    266.512878
           Close   3.095000e+01  3.122048e+02  3.057286e+01    263.408295
           Volume  3.840910e+07  3.927000e+06  1.234324e+08  14600.000000

                           AMZN
Date       minor
2010-01-04 High    1.366100e+02
           Low     1.331400e+02
           Open    1.362500e+02
           Close   1.339000e+02
           Volume  7.599900e+06

In [73]:
mask.items

Index(['MSFT', 'GOOG', 'AAPL', 'Y', 'AMZN'], dtype='object')

In [4]:
# companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

# p = data.DataReader(name = companies, data_source = "yahoo", start = "2004-01-01", end ="2009-02-02")

# p