In [51]:
import pandas as pd
from pandas_datareader import data
import pandas_datareader.data as web
import datetime as dt

In [145]:
# companies = ["MSFT", "GOOG", "AAPL", "Y", "AMZN"]
mask = pd.Panel(dict((stock, web.get_data_yahoo(stock, start = "2010-01-01", end = "2016-12-31")) 
                      for stock in ["MSFT", "GOOG", "AAPL", "Y", "AMZN"]))
mask


# companies = ["MSFT", "GOOG", "AAPL", "Y", "AMZN"]
# mask = web.get_data_yahoo(name = companies, data_source = "yahoo", start = "2010-01-01", end = "2016-12-31")
# mask


# new = mask.to_xarray()
# mask.set_index(["2010-01-01", "2016-12-31"]).to_panel()
# mask.to_csv("financial")
# mask.to_panel()
# mask.set_index(["MSFT", "GOOG"]).to_panel()

C:\Users\Maxwell\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2963: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1762 (major_axis) x 6 (minor_axis)
Items axis: MSFT to AMZN
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: High to Adj Close

In [90]:
mask.items

Index(['MSFT', 'GOOG', 'AAPL', 'Y', 'AMZN'], dtype='object')

In [95]:
mask.major_axis

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
               '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
               '2016-12-29', '2016-12-30'],
              dtype='datetime64[ns]', name='Date', length=1762, freq=None)

In [96]:
#column is the minor axis
mask.minor_axis

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [97]:
#this will return  an array of the ais that makes up the panel 
mask.axes

[Index(['MSFT', 'GOOG', 'AAPL', 'Y', 'AMZN'], dtype='object'),
 DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
                '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
                '2016-12-29', '2016-12-30'],
               dtype='datetime64[ns]', name='Date', length=1762, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

In [98]:
mask.ndim

3

In [99]:
mask.dtypes

MSFT    float64
GOOG    float64
AAPL    float64
Y       float64
AMZN    float64
dtype: object

In [101]:
#this gives us a tupple that gives us the measurements of the panel
mask.shape

(5, 1762, 6)

In [102]:
#totall amount odf datas on the panel
mask.size

52860

In [103]:
#this returns a nested array
mask.values

array([[[3.11000004e+01, 3.05900002e+01, 3.06200008e+01, 3.09500008e+01,
         3.84091000e+07, 2.45250187e+01],
        [3.11000004e+01, 3.06399994e+01, 3.08500004e+01, 3.09599991e+01,
         4.97496000e+07, 2.45329418e+01],
        [3.10799999e+01, 3.05200005e+01, 3.08799992e+01, 3.07700005e+01,
         5.81824000e+07, 2.43823776e+01],
        ...,
        [6.34000015e+01, 6.28300018e+01, 6.34000015e+01, 6.29900017e+01,
         1.46533000e+07, 6.00857849e+01],
        [6.32000008e+01, 6.27299995e+01, 6.28600006e+01, 6.29000015e+01,
         1.02506000e+07, 5.99999390e+01],
        [6.29900017e+01, 6.20299988e+01, 6.29599991e+01, 6.21399994e+01,
         2.55799000e+07, 5.92749748e+01]],

       [[3.13579620e+02, 3.10954468e+02, 3.12304413e+02, 3.12204773e+02,
         3.92700000e+06, 3.12204773e+02],
        [3.12747742e+02, 3.09609497e+02, 3.12418976e+02, 3.10829926e+02,
         6.03190000e+06, 3.10829926e+02],
        [3.11761444e+02, 3.02047852e+02, 3.11761444e+02, 3.02994293e+02,
         7.98710000e+06, 3.02994293e+02],
        ...,
        [7.94229980e+02, 7.83200012e+02, 7.93700012e+02, 7.85049988e+02,
         1.15380000e+06, 7.85049988e+02],
        [7.85929993e+02, 7.78919983e+02, 7.83330017e+02, 7.82789978e+02,
         7.44300000e+05, 7.82789978e+02],
        [7.82780029e+02, 7.70409973e+02, 7.82750000e+02, 7.71820007e+02,
         1.77000000e+06, 7.71820007e+02]],

       [[3.06428566e+01, 3.03400002e+01, 3.04899998e+01, 3.05728569e+01,
         1.23432400e+08, 2.67827110e+01],
        [3.07985706e+01, 3.04642849e+01, 3.06571426e+01, 3.06257133e+01,
         1.50476200e+08, 2.68290100e+01],
        [3.07471428e+01, 3.01071434e+01, 3.06257133e+01, 3.01385708e+01,
         1.38040000e+08, 2.64022598e+01],
        ...,
        [1.18019997e+02, 1.16199997e+02, 1.17519997e+02, 1.16760002e+02,
         2.09059000e+07, 1.12296501e+02],
        [1.17110001e+02, 1.16400002e+02, 1.16449997e+02, 1.16730003e+02,
         1.50395000e+07, 1.12267647e+02],
        [1.17199997e+02, 1.15430000e+02, 1.16650002e+02, 1.15820000e+02,
         3.05863000e+07, 1.11392426e+02]],

       [[2.66512878e+02, 2.61178406e+02, 2.66512878e+02, 2.63408295e+02,
         1.46000000e+04, 2.58972778e+02],
        [2.65138397e+02, 2.60159546e+02, 2.65138397e+02, 2.63312195e+02,
         9.60000000e+03, 2.58878296e+02],
        [2.63398682e+02, 2.59515564e+02, 2.61956940e+02, 2.63398682e+02,
         1.81000000e+04, 2.58963318e+02],
        ...,
        [6.12000000e+02, 6.05219971e+02, 6.12000000e+02, 6.05429993e+02,
         2.38000000e+04, 5.95235168e+02],
        [6.11190002e+02, 6.04559998e+02, 6.04559998e+02, 6.09190002e+02,
         2.80000000e+04, 5.98931885e+02],
        [6.13419983e+02, 6.06150024e+02, 6.11989990e+02, 6.08119995e+02,
         2.82000000e+04, 5.97879883e+02]],

       [[1.36610001e+02, 1.33139999e+02, 1.36250000e+02, 1.33899994e+02,
         7.59990000e+06, 1.33899994e+02],
        [1.35479996e+02, 1.31809998e+02, 1.33429993e+02, 1.34690002e+02,
         8.85190000e+06, 1.34690002e+02],
        [1.34729996e+02, 1.31649994e+02, 1.34600006e+02, 1.32250000e+02,
         7.17880000e+06, 1.32250000e+02],
        ...,
        [7.80000000e+02, 7.70500000e+02, 7.76250000e+02, 7.72130005e+02,
         3.30100000e+06, 7.72130005e+02],
        [7.73400024e+02, 7.60849976e+02, 7.72400024e+02, 7.65150024e+02,
         3.15830000e+06, 7.65150024e+02],
        [7.67400024e+02, 7.48280029e+02, 7.66469971e+02, 7.49869995e+02,
         4.13940000e+06, 7.49869995e+02]]])

# Using bracket notation for extraction of data

In [104]:
mask

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1762 (major_axis) x 6 (minor_axis)
Items axis: MSFT to AMZN
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: High to Adj Close

In [111]:
mask.minor_axis

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [148]:
mask["MSFT"]

                 High        Low       Open      Close       Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001   38409100.0  24.525019
2010-01-05  31.100000  30.639999  30.850000  30.959999   49749600.0  24.532942
2010-01-06  31.080000  30.520000  30.879999  30.770000   58182400.0  24.382378
2010-01-07  30.700001  30.190001  30.629999  30.450001   50559700.0  24.128809
2010-01-08  30.879999  30.240000  30.280001  30.660000   51197400.0  24.295214
2010-01-11  30.760000  30.120001  30.709999  30.270000   68754700.0  23.986179
2010-01-12  30.400000  29.910000  30.150000  30.070000   65912100.0  23.827694
2010-01-13  30.520000  30.010000  30.260000  30.350000   51863500.0  24.049570
2010-01-14  31.100000  30.260000  30.309999  30.959999   63228100.0  24.532942
2010-01-15  31.240000  30.709999  31.080000  30.860001   79913200.0  24.453693
2010-01-19  31.240000  30.680000  30.750000  31.100000   46575700.0  24.643881
2010-01-20  30.940001  30.309999  30.809999  30.590000   54849500.0  24.239746
2010-01-21  30.719999  30.000000  30.610001  30.010000   73086700.0  23.780155
2010-01-22  30.200001  28.840000  30.000000  28.959999  102004600.0  22.948128
2010-01-25  29.660000  29.100000  29.240000  29.320000   63373000.0  23.233395
2010-01-26  29.850000  29.090000  29.200001  29.500000   66639900.0  23.376024
2010-01-27  29.820000  29.020000  29.350000  29.670000   63949500.0  23.510740
2010-01-28  29.870001  28.889999  29.840000  29.160000  117513700.0  23.106604
2010-01-29  29.920000  27.660000  29.900000  28.180000  193888500.0  22.330048
2010-02-01  28.480000  27.920000  28.389999  28.410000   85931100.0  22.512297
2010-02-02  28.500000  28.139999  28.370001  28.459999   54413700.0  22.551926
2010-02-03  28.790001  28.120001  28.260000  28.629999   61397900.0  22.686628
2010-02-04  28.500000  27.809999  28.379999  27.840000   77850000.0  22.060629
2010-02-05  28.280001  27.570000  28.000000  28.020000   80960100.0  22.203266
2010-02-08  28.080000  27.570000  28.010000  27.719999   52820600.0  21.965540
2010-02-09  28.340000  27.750000  27.969999  28.010000   59195800.0  22.195339
2010-02-10  28.240000  27.840000  28.030001  27.990000   48591300.0  22.179491
2010-02-11  28.400000  27.700001  27.930000  28.120001   65993700.0  22.282507
2010-02-12  28.059999  27.580000  27.809999  27.930000   81117200.0  22.131947
2010-02-16  28.370001  28.020000  28.129999  28.350000   51935600.0  22.569809
...               ...        ...        ...        ...          ...        ...
2016-11-17  60.950001  59.970001  60.410000  60.639999   32132700.0  57.844143
2016-11-18  61.139999  60.299999  60.779999  60.349998   27686300.0  57.567513
2016-11-21  60.970001  60.419998  60.500000  60.860001   19652600.0  58.053997
2016-11-22  61.259998  60.810001  60.980000  61.119999   23206700.0  58.302006
2016-11-23  61.099998  60.250000  61.009998  60.400002   21848900.0  57.615211
2016-11-25  60.529999  60.130001  60.299999  60.529999    8409600.0  57.739204
2016-11-28  61.020000  60.209999  60.340000  60.610001   20732600.0  57.815521
2016-11-29  61.410000  60.520000  60.650002  61.090000   22366700.0  58.273388
2016-11-30  61.180000  60.220001  60.860001  60.259998   34655400.0  57.481655
2016-12-01  60.150002  58.939999  60.110001  59.200001   34542100.0  56.470524
2016-12-02  59.470001  58.799999  59.080002  59.250000   25515700.0  56.518223
2016-12-05  60.590000  59.560001  59.700001  60.220001   23552700.0  57.443508
2016-12-06  60.459999  59.799999  60.430000  59.950001   19907000.0  57.185951
2016-12-07  61.380001  59.799999  60.009998  61.369999   30809000.0  58.540485
2016-12-08  61.580002  60.840000  61.299999  61.009998   21220800.0  58.197079
2016-12-09  61.990002  61.130001  61.180000  61.970001   27349400.0  59.112816
2016-12-12  62.299999  61.720001  61.820000  62.169998   20198100.0  59.303596
2016-12-13  63.419998  62.240002  62.500000  62.980000   35718900.0  60.076248
2016-12-14  63.450001  62.529999  63.000000  62.680000   30352700.0  59.790081
2016-12-15  63.150002  62.299999  62.700001  62.580002   27669900.0  59.694695
2016-12-16  62.950001  62.119999  62.950001  62.299999   42453100.0  59.427597
2016-12-19  63.770000  62.419998  62.560001  63.619999   34338200.0  60.686745
2016-12-20  63.799999  63.029999  63.689999  63.540001   26028400.0  60.610432
2016-12-21  63.700001  63.119999  63.430000  63.540001   17096300.0  60.610432
2016-12-22  64.099998  63.410000  63.840000  63.549999   22176600.0  60.619972
2016-12-23  63.540001  62.799999  63.450001  63.240002   12403800.0  60.324265
2016-12-27  64.070000  63.209999  63.209999  63.279999   11763200.0  60.362419
2016-12-28  63.400002  62.830002  63.400002  62.990002   14653300.0  60.085785
2016-12-29  63.200001  62.730000  62.860001  62.900002   10250600.0  59.999939
2016-12-30  62.990002  62.029999  62.959999  62.139999   25579900.0  59.274975

[1762 rows x 6 columns]

In [123]:
mask.volume

AttributeError: 'Panel' object has no attribute 'volume'

In [67]:
mask.to_frame().head(5)

                           MSFT          GOOG          AAPL             Y  \
Date       minor
2010-01-04 High    3.110000e+01  3.135796e+02  3.064286e+01    266.512878
           Low     3.059000e+01  3.109545e+02  3.034000e+01    261.178406
           Open    3.062000e+01  3.123044e+02  3.049000e+01    266.512878
           Close   3.095000e+01  3.122048e+02  3.057286e+01    263.408295
           Volume  3.840910e+07  3.927000e+06  1.234324e+08  14600.000000

                           AMZN
Date       minor
2010-01-04 High    1.366100e+02
           Low     1.331400e+02
           Open    1.362500e+02
           Close   1.339000e+02
           Volume  7.599900e+06

# Extracting with loc iloc and ix

In [129]:
mask

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1762 (major_axis) x 6 (minor_axis)
Items axis: MSFT to AMZN
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: High to Adj Close

In [151]:
#since panel is decrepated we use multi-index method of extraction 
mask.loc["MSFT"].head(5)

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.525019
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.532942
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  24.382378
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  24.128809
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  24.295214

In [152]:
mask.loc[("MSFT", "2010-01-04")]

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.452502e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [143]:
mask.minor_axis

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [73]:
mask.items

Index(['MSFT', 'GOOG', 'AAPL', 'Y', 'AMZN'], dtype='object')

In [4]:
# companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

# p = data.DataReader(name = companies, data_source = "yahoo", start = "2004-01-01", end ="2009-02-02")

# p